@media (prefers-color-scheme: dark) {
  a {
    color: #fff;
  }

  a:visited {
    color: #fff;
  }

  a:hover {
    background-color: #000;
    color: #fff;
  }  

  body {
    background-color: #212121;
    color: #fff;
  }
  
  ul.navbar {
    border-bottom: .2em solid white;
  }
}
