a {  
  color: #000;
}
body {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
}

header {
  background-color: #146987;
  color: #fff;
  text-align: center;
  width: 100%;
}

nav {
  padding: 10px 0 50px;
}

a.item {
  text-decoration: none;
  color: #fff;
}

li.regular {
  align-self: flex-end;
}

.outer {
  padding: 0 5vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.content {
  padding: 0 20px;
}

.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  padding: 20px;	
}

.site-header {
  padding: 2vw 3vw 3vw; 
}