a {  
  color: #000;
}

body {
  font: 1em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

h2 {
  margin-right: 20px;
}

header {
  background-color: #146987;
  color: #fff;
  width: 100%;
}

nav {
  margin-top: auto;
  margin-bottom: auto;
}

.item {
  color: #fff;
  opacity: .8;
  text-decoration: none; 
}

.active {
  opacity: inherit;
}

.item:hover {
  opacity: inherit;
}

.regular {
  align-self: flex-end;
}

.outer {
  padding: 0 5vw;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.content {
  padding: 0 10px;
}

.mobile {
  display: none;
}

.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  /* overflow-x: auto;
  overflow-y: hidden; */
  white-space: nowrap;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  padding: 20px;	
}

.site-header {
  padding: 2vw 3vw 3vw; 
}

@media (max-width: 470px) {
  
    header {
        background-color: #146987;
        color: #fff;
        text-align: center;
        width: 100%;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0 50px;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .site-header {
        padding: 2vw 3vw 6vw; 
    }
}
