a {
  color: #72b4f6;
}

body {
  background-color: #36393e;
  color: #ddd;
  font-family: sans-serif;
}

h1 {
  font-size: calc(1rem + 3vw);
  margin: 3rem 0px 0px;
}

h5 {
  margin: 2em 0px 0px 2.3em;
}

p {
  font-size: calc(0.76rem + 1vw);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}


@media (min-width: 600px) { 
  h1 {
    font-size: 230%; 
  }
    
  p {
    font-size: 120%;
  }
} 

@media (max-width: 200px) { 
  h1 {
    font-size: calc(0.5rem + 3vw);
    text-align: center;
  }
 
  p {
    font-size: calc(0.5rem + 1vw);
  }
} 
