body {
    background-color: #fff;
    color: #000;
    margin: auto;
}

button {
    background-color: #fff;
    color: #000;

}

h1 {
    font-weight: bold;
}

h2 {
    text-align: center;
}

img {
    height: 50px;
    max-width: 100vw;
    width: 130px;

}

.dark-mode {
    background-color: #212121;
    color: #fff;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.content {
    display: flex;
}
