@media (max-width: 640px) {  

    header {
        text-align: center;
        width: 100%;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0 50px;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .navbar a {
        margin: 50px;
    }

    .site-header {
        padding: 2vw 3vw 6vw; 
    }

}

@media (max-width: 463px) {

    .navbar a {
        margin: 40px;
    }

}

@media (max-width: 403px) {

    .navbar a {
        margin: 30px;
    }

}

@media (max-width: 343px) {

    .navbar a {
        margin: 20px;
    }

}

@media (max-width: 283px) {
    .navbar a {
        margin: 15px;
    }
}

@media (prefers-color-scheme: dark) {

    :root {
        background-color: #212121;
    }

    a {
        color: #fff;
    }

    body {
        color: #fff;
    }

    header {
        background-color: #0a3c50;
    }

}
